body{
	margin:0;
	font-size:12px;
	background:#c9c9c9;
}
.page{
	width:835px;
	margin:0 auto;
}
.banner{
	height:172px;
	background:url(../images/page_02.jpg);
}
.nav{
	height:35px;
	background:url(../images/page_04.gif);
	margin-top:-17px;
}
.nav ul{
	list-style:none;
	font-size:14px;
	color:#fff;
}
.nav ul li{
	float:left;
	width:80px;
	text-align:center;
	line-height:35px;
}
.nav ul li a{
	color:#fff;
	text-decoration:none;
}
.nav ul li a:hover{
	text-decoration:underline;
	color:#fba;
}
.log{
	height:25px;
}
.input1{
	width:100px;
}
.login{
	float:right;
}
marquee{
	line-height:25px;
}



